/* This css contains the styling specific to the 'normal mode'. (as opposite to the embedded mode) */
/* In embedded mode [1], this stylesheet won't be loaded. */

/* [1] The web client features an embedded mode in which the webclient */
/*     or a part of it can be started in any element of any webpage host. */

body {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    height: 100%;

}



/******************** Login ********************/
.btn-primary {
    color: #fff !important;
    background-color: #3276b1 !important;
    border-color: #2c699d !important;
}

.openerp a.button:visited {
    background-image: unset !important;
    background-image: unset !important;
    background-image: unset !important;
    background-image: unset !important;
    background-image: unset !important;
    background-image: unset !important;
    -moz-border-radius: unset !important;
    -webkit-border-radius: unset !important;
    border-radius: unset !important;
    -moz-box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
    box-shadow:unset !important;
    text-shadow: unset !important;
    -webkit-font-smoothing: unset !important;
    outline: unset !important;
}

#extr-page .hero {
    background-position: 0 185px !important;
}

.selectdb select{
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 32px;
	line-height: 32px;
	padding: 5px 10px !important;
	outline: 0;
	border-width: 1px;
	border-style: solid;
	border-radius: 0;
	background: #fff;
	font: 13px/16px 'Open Sans',Helvetica,Arial,sans-serif;
	color: #404040;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
	padding-right: 0px !important;
}

#extr-page #header #logo img {
    width: 90px !important;
}

#extr-page h4.paragraph-header {
    font-size: 13px !important;
    text-align: justify;
}
/******************** End Login ********************/

/******************** Loading ********************/
.openerp .oe_loading {
    bottom: 0 !important;
	top:unset !important;
    padding: 10px 12px !important;
	border-bottom-right-radius: unset !important;
    border-bottom-left-radius: unset !important;
    -moz-border-radius-bottomright: unset !important;
    -moz-border-radius-bottomleft: unset !important;
    left: 0 !important;
    right: 0 !important;
}
/******************** End Loading ********************/

/******************** Button Highlight ********************/
.openerp button.oe_highlight,
div.oe_sidebar .oe_form_dropdown_section button,
.oe_form_button button,
button.oe_button.oe_form_button,
.oe_right.oe_button_box .oe_form_button,
.oe_form_buttons_view .oe_form_button_edit,
.oe_form_buttons_view .oe_form_button_create,
.oe_follower.oe_following {
	background: rgb(52, 186, 226)!important;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)!important;
    background: -moz-linear-gradient(top, rgba(52, 186, 226,1) 0%, rgba(52, 162, 226,1) 100%)!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52, 186, 226,1)), color-stop(100%,rgba(52, 162, 226,1)))!important;
    background: -webkit-linear-gradient(top, rgba(52, 186, 226,1) 0%,rgba(52, 162, 226,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(52, 186, 226,1) 0%,rgba(52, 162, 226,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(52, 186, 226,1) 0%,rgba(52, 162, 226,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(52, 186, 226,1) 0%,rgba(52, 162, 226,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67b0f0', endColorstr='#348fe2',GradientType=0 )!important;
    border-color: #2a72b5 !important;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 3px;
	margin: 0;
	padding: 2px 4px 4px;
	color:#FFFFFF !important;
}
/******************** End Button Highlight ********************/

/******************** Popup ********************/
.openerp.ui-dialog{
	padding:unset !important;
}
/******************** End Popup ********************/

.openerp .oe_secondary_submenu li {
    padding: 8px 0px 1px 20px !important;
}

.openerp .oe_secondary_submenu .oe_active {
    background: rgb(52, 186, 226)!important;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)!important;
    background: -moz-linear-gradient(top, rgba(52, 186, 226,1) 0%, rgba(52, 162, 226,1) 100%)!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52, 186, 226,1)), color-stop(100%,rgba(52, 162, 226,1)))!important;
    background: -webkit-linear-gradient(top, rgba(52, 186, 226,1) 0%,rgba(52, 162, 226,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(52, 186, 226,1) 0%,rgba(52, 162, 226,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(52, 186, 226,1) 0%,rgba(52, 162, 226,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(52, 186, 226,1) 0%,rgba(52, 162, 226,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67b0f0', endColorstr='#348fe2',GradientType=0 )!important;
}

.openerp .oe_menu > li > .oe_active, .oe_topbar .oe_dropdown_menu li:hover{
	background: rgba(0, 0, 0, 0.1)!important;
    /*background: -moz-linear-gradient(left, rgba(79,122,216,1) 0%, rgba(221,92,161,1) 100%)!important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(79,122,216,1)), color-stop(100%, rgba(221,92,161,1)))!important;
    background: -webkit-linear-gradient(left, rgba(79,122,216,1) 0%, rgba(221,92,161,1) 100%)!important;
    background: -o-linear-gradient(left, rgba(79,122,216,1) 0%, rgba(221,92,161,1) 100%)!important;
    background: -ms-linear-gradient(left, rgba(79,122,216,1) 0%, rgba(221,92,161,1) 100%)!important;
    background: linear-gradient(to right, rgba(79,122,216,1) 0%, rgba(221,92,161,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f7ad8', endColorstr='#dd5ca1', GradientType=1 )!important;*/
}

.openerp .oe_secondary_submenu li a {
    padding: 2px 4px 4px 0 !important;
}

.oe_topbar, .oe_loading,
.oe_topbar .oe_dropdown_menu  {
	background: rgb(52, 186, 226)!important;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)!important;
    background: -moz-linear-gradient(top, rgba(52, 186, 226,1) 0%, rgba(52, 162, 226,1) 100%)!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52, 186, 226,1)), color-stop(100%,rgba(52, 162, 226,1)))!important;
    background: -webkit-linear-gradient(top, rgba(52, 186, 226,1) 0%,rgba(52, 162, 226,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(52, 186, 226,1) 0%,rgba(52, 162, 226,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(52, 186, 226,1) 0%,rgba(52, 162, 226,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(52, 186, 226,1) 0%,rgba(52, 162, 226,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67b0f0', endColorstr='#348fe2',GradientType=0 )!important;
    border-color: #2a72b5 !important;
}

.openerp button.oe_highlight:hover,
.oe_form_button button:hover,
button.oe_button.oe_form_button:hover,
.oe_form_buttons_view .oe_form_button_edit:hover,
.oe_form_buttons_view .oe_form_button_create:hover,
.oe_dropdown_toggle.oe_dropdown_arrow:hover,
.oe_right.oe_button_box .oe_form_button:hover {
	background: #2a72b5 !important;
    border-color: #2a72b5 !important;
}

.openerp .oe_topbar_item.oe_topbar_compose_full_email button {
    top: -6px !important;
}
.openerp .oe_form_sheet_width {
    max-width: 95% !important;
}


/******************** Footer ********************/
.footer {
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    margin: 0px !important;
}

.footer.fixed_full {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 20px;
    background: white;
    border-top: 1px solid #e7eaec;
}

.footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 10px 20px;
    background: white;
    border-top: 1px solid #e7eaec;
    /*margin-left: 220px !important;*/
}

.footer_img {
    width: 70px;
    margin-top: -2px;
}
/******************** End Footer ********************/

/******************** Sidebar ********************/
.openerp a.oe_logo {
    border-bottom: 1px solid #d9e0e7;
    margin-bottom: 5px;
}
.oe_secondary_menus_container{
    overflow-y: scroll;
    max-height: 85%;
    /*min-height: 100%;
    height: 100%;
    overflow: scroll;*/
}

/******************** End Sidebar ********************/

/******************** Sticky Topbar ********************/
.oe_topbar{
    position: fixed;
    z-index: 1;
}
.openerp a.oe_logo{
    margin-top: 32px !important;
}
.oe_view_manager{
    margin-top: 32px !important;
}
.oe_form_field .oe_view_manager{
    margin-top: 0px !important;
}
/******************** End Sticky Topbar ********************/

.oe_chatter{
	 display:none;
}
.oe_topbar li a span i.fa-arrow-right {
    display: none;
}

.oe_leftbar .oe_logo img{
	/* width:130px !important; */
	width: 160px !important;
	height: 50px;
}

input:focus, textarea:focus, keygen:focus, select:focus {
    outline-offset: -2px;
	border:1px solid green;
}
.oe_button.oe_form_button.oe_link{
    background: unset !important;
}
.oe_button.oe_form_button.oe_link:hover{
    background: unset !important;
}

span.oe_datepicker_root span input:nth-child(2) + img{
    display:none;
}
.ui-datepicker td:hover {
    color: #4499e6 !important;
}
.sidebarhidden + td thead.tableFloatingHeaderOriginal {
	left:0px !important;
    /*margin-top: 32px !important;*/
}
.tableFloatingHeaderOriginal{
	left:220px !important;
    /*margin-top: 32px !important;*/
}

.totopbutton{
    position: absolute;
    top: 0px;
    right: 10px;
    background-color:#F44336;
    width:30px;
    height:30px;
    border-radius:100%;
    background:#F44336;
    border:none;
    outline:none;
    color:#FFF;
    font-size:16px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

div.oe_list.oe_view.oe_list_editable table.oe_list_content .tableFloatingHeaderOriginal {
    left: 28px !important;
    margin-top: -123px !Important;
}
div.oe_form_nosheet div.oe_cannot_create.oe_cannot_edit.oe_cannot_delete.sticky_header table.oe_list_content .tableFloatingHeaderOriginal{
	margin: 16px;
	left: 220px !important;
    margin-top: 32px !important;
}
.sticky_header table.oe_list_content > thead {
    left: 28px !important;
    margin-top: -123px !Important;
}
.openerp .oe_topbar_item.oe_timezone_systray,
.openerp .oe_topbar_item.oe_topbar_compose_full_email {
	display:none !important;
}
.openerp .oe_notebook {
    padding: 0 !important;
}

.block{
	display:table-cell !important;
}

.hide{
	display:none !important;
}

.openerp .oe_notebook {
    padding-left: 0 !important;
}

.oe_list_content{
	margin-bottom: 40px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
.blockUI.blockOverlay{
	display:none !important;
}

.oe_form_nosheet .oe_list_content thead.tableFloatingHeaderOriginal{	
	margin-right: 16px !important;
	margin-bottom: 16px !important;
	margin-left: 16px !important;
}
.ui-widget-overlay{
	width:100%!important;
}

.action_394{
	margin-top:-123px !important;
	left:30px !important;
}

/* .openerp .oe_leftbar {
  background: #ececec !important;
  border-right: 1px solid #ececec !important;
} */
.openerp .oe_leftbar {
	border-bottom: 1px solid #cacaca!important;
    background-color: #ededed!important;
    background-image: -webkit-linear-gradient(top, #ececec, #d0d0d0)!important;
    background-image: -webkit-linear-gradient(top, #ececec, #d0d0d0)!important;
    background-image: -moz-linear-gradient(top, #ececec, #d0d0d0)!important;
    background-image: -ms-linear-gradient(top, #ececec, #d0d0d0)!important;
    background-image: -o-linear-gradient(top, #ececec, #d0d0d0)!important;
    background-image: linear-gradient(to bottom, #ececec, #d0d0d0);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1)!important;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1)!important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1)!important;
}
.openerp .oe_secondary_submenu li a,
.openerp .oe_secondary_menu_section {
	color:#444444 !important;
}

.oe_secondary_submenu li.oe_active a span{
	color:white !important;
}

.ui-dialog-content .oe_view_manager{
	margin-top: 0px !important;
}

.openerp .oe_secondary_submenu .oe_menu_toggler:before{
	border-left: 4px solid #0e0e0e !important;
}

.openerp .oe_form input[readonly]{
	background: rgba(204, 204, 204, 0.3) !important;
}
.has_error{
	background-color: rgba(255, 91, 87, 0.6) !important;
}